*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink: #f70776;
    --pink-low: #c3195d;
    --purple:#680747; 
    --black:#141010; 
    --white: rgba(251, 241, 251, 0.726);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    
}

h1{
    font-weight: 700;
    font-size: 10rem;
    color: var(--white);
}

h2 {
    font-weight: 400;
    font-size: 3.5rem;
    color: var(--white);
}

p{
    font-weight: 300;
    font-size: 2rem;
    color: var(--white);
}

main{
    width: 100%;
    height: 100vh;
    background-color: var(--pink);
    display: flex;
    justify-content:center;
    align-items:center;
}

.main_section{
    width: 90%;
    height: 85%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: var(--black);
    padding: 3rem;
    
}

button {
    width: 100%;
    max-width: 30rem;
    height: 20%;
    max-height:3rem ;
    margin-top: 2rem;
}
